<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertMenu">   // key 쿼리를 달아주고 이름을 달아주는 것, 세미콜론 찍지 마라
        '
          ?
        , ?
        , ?
        , ?
        )
    </entry>
    <entry key="updateMenu">
        UPDATE TBL_MENU
        SET MENU_NAME = ? ,
        MENU_PRICE = ?
        WHERE MENU_CODE = ?

</properties>